html,
body {
  margin: 0;
  padding: 0;
  color: rgb(234, 223, 208);
  background-color: rgb(10, 10, 30);
}

body {
  overflow: hidden;
}

.floating-content {
  padding-top: 400px;
  padding-left: 50px;
  position: absolute;
  z-index: 1;
}

.text-content {
  column-width: 200px;
  width: 800px;
}
